div[class^="flexitem"]{
    display: flex;
    flex-basis: 50px;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    flex-basis: 50px;
}

div>img{
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
}
